button {
  cursor: pointer;
  text-decoration: none;
  border: 3px solid black;
  background-color: transparent;
  padding: 10px;
  font-size: 20px;
}

button:hover {
  background-color: #632044;
  border-color: #632044;
  color: white;
  transition: 500ms;
}

.button_margin {
  margin: auto 30px auto auto;
}

.task_button {
  border-color: #ff7869;
  max-width: 200px;
  max-height: 100px;
}

.user_button {
  border-color: #632044;
}

.volunteer__pink-button {
  background-color: #ff7869;
  border: none;
  color: #ffffff;
  padding: 15px;
  font-size: 20px;
}
