.form_display {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.form_display > * {
  margin: 15px;
}

.form_display > label {
  display: flex;
  flex-direction: column;
}

.profile-form {
  max-width: 800px;
}