.list-of-tasks {
  display: flex;
  flex-direction: row;
}

.list-of-tasks__list {
  flex-grow: 1;
}

.list-of-tasks__filters {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters {
  border: 3px solid #ffc959;
  margin-top: 100px;
  max-height: 200px;
  min-width: 180px;
  max-width: 200px;
  min-height: 150px;
  display: flex;
}

.filters__form {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.filters__form p {
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.button__new {
  margin-top: 15px;
}
