.main-content {
  display: flex;
  min-height: 600px;
}

.main-content__empty-block {
  height: 100%;
  width: 40%;
}

.main-content__yellow-block {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28vw;
  height: 28vw;
  min-width: 300px;
  min-height: 300px;
  background: #ffc959;
  z-index: 100;
  left: 25%;
  top: 30%;
}

.main-content__text {
  height: 100%;
  width: 60%;
  background: repeating-linear-gradient(
    60deg,
    rgb(46, 46, 46),
    rgb(46, 46, 46) 10px,
    #333 10px,
    #333 20px
  );
  z-index: 10;
  display: flex;
}

.volunteer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volunteer__image_size {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  margin: 15px;
}

.main-content__paragraph {
  color: #ffffff;
  margin: auto;
  max-width: 50%;
  font-size: 24px;
}

.super-slider {
  text-align: center;
  margin-top: 50px;
  width: 100%;
}