.task {
  padding: 15px;
  display: flex;
  flex-direction: row;
}
.task_color {
  background-color: #cecece;
}

.task_color:nth-child(2n) {
  background-color: #e3e3e3;
}

.task__header2 {
  margin-top: 0;
}

