header {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo_size {
  width: 100px;
  height: 100px;
}

.menu-item__margin {
  margin: auto 0 auto auto;
}
