body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: inherit;
}

a {
  text-decoration: none;
  color: #484848;
}

input {
  height: 25px;
  min-width: 120px;
}

input.radio {
  min-width: 20px;
}

label {
  font-size: 20px;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
}
