.list-of-users {
  display: flex;
  flex-direction: row;
}

.list-of-users__filters {
  width: 20%;
  display: flex;

  justify-content: center;
}

.list-of-users__filters .filters {
  border: 3px solid #ff7869;
  margin-top: 100px;
  max-height: 200px;
  min-width: 180px;
  max-width: 200px;
  display: flex;
}

.filters__input {
  margin-bottom: 10px;
}
