.react-slideshow-fade-wrapper,
.react-slideshow-fade-images-wrap {
  text-align: center !important;
  min-width: 100%;
  margin-top: 50px;
}

.slide-container {
  text-align: center;
  justify-content: center;
}